* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR';
}
#wrap {
  width: 100%;
}

#h-tab-menu .h-tab-btn ul {
  display: flex;
  padding: 30px 0px 11px 240px;
  box-sizing: border-box;
  border-bottom: 1px solid #e9e9e9;
}
#h-tab-menu .h-tab-btn ul li {
  padding: 0px 10px;
}
#h-tab-menu .h-tab-btn ul li a {
  border-top: 1px solid #e9e9e9;
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 45px;
  font-size: small;
}
#h-tab-menu .h-tab-btn ul li a.h-active {
  border-top: 1px solid #ffaf1d;
  border-left: 1px solid #ffaf1d;
  border-right: 1px solid #ffaf1d;
}

#header {
  width: 1600px;
  height: 100px;
  margin: 0 auto;
  display: flex;
}
#header::after {
  content: '';
  width: 100%;
  height: 0px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 161px;
  border-top: 1px solid #e9e9e9;
  z-index: 1;
  transition: all 0.6s;
}
#header.on::after {
  height: 190px;
}
.logo {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
}
.logo img {
  width: 200px;
}
.menu {
  display: none;
}
.nav {
  width: 60%;
  height: 100%;
  z-index: 1000;
}
.nav > ul {
  display: flex;
  padding-top: 30px;
  padding-left: 140px;
}
.nav > ul > li {
  position: relative;
}
.nav > ul > li > a {
  display: block;
  padding: 10px 50px;
  font-weight: bold;
}
.nav > ul > li > ul {
  position: absolute;
  left: 0;
  top: 90px;
  width: 100%;
  text-align: left;
  padding-left: 45px;
  display: none;
}
.nav > ul > li > ul > li > a {
  display: block;
  padding: 5px;
  font-size: 14px;
}
.nav > ul > li > ul > li > a:hover {
  color: #ffaf1d;
}

.spot {
  width: 30%;
  height: 100%;
}
.spot img {
  width: 40px;
}
.spot > ul {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-right: 100px;
}
.spot > ul > li {
  padding: 0px 30px;
}
.spot p {
  color: #ffaf1d;
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

/* footer */
#footer-wrap {
  border-top: 1px solid #e9e9e9;
  margin-top: 40px;
}
#footer {
  width: 1400px;
  height: auto;
  margin: 50px auto;
  display: flex;
}
.footer1 {
  width: 15%;
}
.footer1 img {
  width: 160px;
}
.footer2 {
  width: 45%;
}
.footer2-1 ul {
  display: flex;
  font-weight: bold;
  font-size: 14px;
  color: #5e5e5e;
}
.footer2-1 ul li {
  padding: 5px;
}
.footer2-1 ul li::after {
  content: '|';
  margin-left: 10px;
}
.footer2-1 ul li:last-child::after {
  content: '';
}
.footer2-1 .color {
  color: #ffaf1d;
}
.footer2-2 {
  font-size: 13px;
  color: #afafaf;
  padding-top: 20px;
}
.footer2-2 ul {
  display: flex;
}
.footer2-2 ul li {
  padding: 3px 5px;
}
.footer2-2 ul li::after {
  content: '|';
  margin-left: 10px;
}
.footer2-2 ul li:last-child::after {
  content: '';
}
.footer2-2 p {
  padding-top: 5px;
  padding-left: 5px;
}
.footer3 {
  width: 25%;
}
.footer3 img {
  width: 30px;
}
.footer3 ul {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.footer3 ul li {
  padding: 0px 5px;
}
.footer4 {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer4 a {
  background-color: #ffaf1d;
  padding: 15px 30px;
  color: #fff;
  border-radius: 30px;
  font-weight: 700;
  font-size: 14px;
  box-shadow: 3px 3px 5px #b3b3b3;
}

/* 모바일 사이즈 */
@media screen and (max-width: 430px) {
  #wrap {
    width: 100%;
  }
  #h-tab-menu {
    display: none;
  }
  #header {
    width: 100%;
    height: 70px;
  }
  #header::after {
    content: '';
    display: none;
  }
  #header .logo {
    width: 400px;
  }
  #header .logo a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  #header .logo img {
    width: 150px;
  }
  #header .menu {
    display: block;
    padding-top: 18px;
    padding-right: 15px;
  }
  #header .menu img {
    width: 30px;
    height: 30px;
  }
  #header .nav {
    display: none;
  }
  #header .spot {
    display: none;
  }
  #footer-wrap {
    border-top: 1px solid #e9e9e9;
    margin-top: 40px;
  }
  #footer {
    width: 100%;
    height: auto;
    margin: 50px auto;
    display: block;
    padding-left: 20px;
  }
  .footer1 {
    display: none;
  }
  .footer2 {
    width: 100%;
  }
  .footer2-1 ul {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 14px;
    color: #5e5e5e;
  }
  .footer2-1 ul li {
    padding: 5px;
  }
  .footer2-1 ul li::after {
    content: '|';
    margin-left: 10px;
  }
  .footer2-1 ul li:last-child::after {
    content: '';
  }
  .footer2-1 .color {
    color: #ffaf1d;
  }
  .footer2-2 {
    font-size: 12px;
    color: #afafaf;
    padding-top: 20px;
  }
  .footer2-2 ul {
    display: flex;
    flex-wrap: wrap;
  }
  .footer2-2 ul li {
    padding: 3px 5px;
  }
  .footer2-2 ul li::after {
    content: '|';
    margin-left: 10px;
  }
  .footer2-2 ul li:last-child::after {
    content: '';
  }
  .footer2-2 p {
    padding-top: 5px;
    padding-left: 5px;
  }
  .footer3 {
    display: none;
  }
  .footer4 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
  }
  .footer4 a {
    background-color: #ffaf1d;
    padding: 15px 30px;
    color: #fff;
    border-radius: 30px;
    font-weight: 700;
    font-size: 14px;
    box-shadow: 3px 3px 5px #b3b3b3;
  }
}
