* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR';
}
#wrap {
  width: 100%;
}

#h-tab-menu .h-tab-btn ul {
  display: flex;
  padding: 30px 0px 11px 140px;
  box-sizing: border-box;
  border-bottom: 1px solid #e9e9e9;
}
#h-tab-menu .h-tab-btn ul li {
  padding: 0px 10px;
}
#h-tab-menu .h-tab-btn ul li a {
  border-top: 1px solid #e9e9e9;
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 45px;
  font-size: small;
}
#h-tab-menu .h-tab-btn ul li a.h-active {
  border-top: 1px solid #ffaf1d;
  border-left: 1px solid #ffaf1d;
  border-right: 1px solid #ffaf1d;
}

#header {
  width: 1900px;
  height: 100px;
  margin: 0 auto;
  display: flex;
}
#header::after {
  content: '';
  width: 100%;
  height: 0px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 161px;
  border-top: 1px solid #e9e9e9;
  z-index: 1;
  transition: all 0.6s;
}
#header.on::after {
  height: 190px;
}
.logo {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
}
.logo img {
  width: 200px;
}
.menu {
  display: none;
}
.nav {
  width: 50%;
  height: 100%;
  z-index: 1000;
}
.nav > ul {
  display: flex;
  padding-top: 30px;
  padding-left: 200px;
}
.nav > ul > li {
  position: relative;
}
.nav > ul > li > a {
  display: block;
  padding: 10px 50px;
  font-weight: bold;
}
.nav > ul > li > ul {
  position: absolute;
  left: 0;
  top: 90px;
  width: 100%;
  text-align: left;
  padding-left: 45px;
  display: none;
}
.nav > ul > li > ul > li > a {
  display: block;
  padding: 5px;
  font-size: 14px;
}
.nav > ul > li > ul > li > a:hover {
  color: #ffaf1d;
}

.spot {
  width: 30%;
  height: 100%;
}
.spot img {
  width: 40px;
}
.spot > ul {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-right: 100px;
}
.spot > ul > li {
  padding: 0px 30px;
}
.spot p {
  color: #ffaf1d;
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

/* slider */
#slider {
  width: 100%;
  height: 620px;
  overflow: hidden;
}
.sliderwrap {
  width: 600%;
  height: 100%;
  display: flex;
}
.sliderwrap .slider {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sliderwrap .slider.s1 {
  background-image: url(../assert/slider/slider1.png);
}
.sliderwrap .slider.s2 {
  background-image: url(../assert/slider/slider2.png);
}
.sliderwrap .slider.s3 {
  background-image: url(../assert/slider/slider3.png);
}
.sliderwrap .slider.s4 {
  background-image: url(../assert/slider/slider4.png);
}
.sliderwrap .slider.s5 {
  background-image: url(../assert/slider/slider5.png);
}

/* today */
#today {
  width: 100%;
  height: 65px;
  margin: 0 auto;
  padding-top: 20px;
  border-bottom: 2px solid #e9e9e9;
  box-shadow: 1px 1px 20px #e9e9e9;
}
.today-text {
  width: 1600px;
  height: 100%;
  margin: 0 auto;
}
#today p {
  text-align: center;
  font-size: 20px;
}
#today span {
  font-weight: bold;
}

/* attraction */
#attraction-wrap {
  width: 100%;
  background-image: url(../assert/news.svg);
}
#attraction {
  width: 1600px;
  height: auto;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 120px;
}
#attraction h1 {
  font-size: 30px;
  text-align: center;
}
#attraction span {
  font-weight: bold;
}
#attraction p {
  text-align: center;
  padding-top: 10px;
  color: #868686;
}
#a-tab-menu .a-tab-btn ul {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
#a-tab-menu .a-tab-btn ul li {
  padding: 0px 10px;
}
#a-tab-menu .a-tab-btn ul li a {
  border: 2px solid #ffaf1d;
  border-radius: 50px;
  padding: 5px 30px;
}
#a-tab-menu .a-tab-btn ul li a.a-active {
  background-color: #ffaf1d;
  font-weight: bold;
  color: #fff;
}
#a-tab-menu .a-tab-cont ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;
}
#a-tab-menu .a-tab-cont ul li {
  padding-right: 25px;
  padding-top: 25px;
  position: relative;
}
#a-tab-menu .a-tab-cont ul li a:hover {
  .a-text {
    background-color: #ffaf1d;
    box-shadow: 1px 1px 3px #e9e9e9;
  }
}
#a-tab-menu .a-tab-cont img {
  width: 250px;
  height: 300px;
  object-fit: cover;
}
#a-tab-menu .a-tab-cont .a-text {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 250px;
  padding: 20px 0px;
  background-color: #fff;
}
#a-tab-menu .a-tab-cont .a-text h1 {
  font-size: 20px;
  font-weight: bold;
}
#a-tab-menu .a-tab-cont .a-text p {
  font-size: 15px;
  padding-top: 5px;
}

/* event */
#event {
  width: 1400px;
  height: auto;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}
#event h1 {
  font-size: 30px;
  text-align: center;
}
#event span {
  font-weight: bold;
}
#event p {
  text-align: center;
  padding-top: 10px;
  color: #868686;
}
#event ul {
  display: flex;
  padding-top: 70px;
  justify-content: center;
}
#event ul li {
  padding: 0px 30px;
  position: relative;
}
#event img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
}
#event .background {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #ffaf1d;
  position: absolute;
  left: 30px;
  top: 0;
  opacity: 0;
}
#event .event-text {
  display: none;
}
#event .event-text h1 {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  color: #fff;
}
#event .event-text p {
  font-size: 20px;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
}
#event .event li:hover {
  .background {
    opacity: 0.7;
    transition: all 0.3s;
  }
  .event-text {
    display: block;
    transition: all 0.3s;
  }
}

/* discount */
#discount-wrap {
  width: 100%;
  background-image: url(../assert/discount.svg);
}
#discount {
  width: 1400px;
  height: auto;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 150px;
  position: relative;
}
#discount h1 {
  font-size: 30px;
  text-align: center;
}
#discount span {
  font-weight: bold;
}
#discount p {
  text-align: center;
  padding-top: 10px;
  color: #868686;
}
#discount ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
}
#discount ul li {
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  background-color: #fff;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
#discount ul li:hover {
  box-shadow: 0px 0px 20px #ffaf1d;
}
#discount ul li a {
  padding: 0px 27px;
}
#discount img {
  width: 200px;
}
#discount .background {
  width: 250px;
  height: 65px;
  background-color: #fff;
}
#discount .background h1 {
  font-size: 20px;
  text-align: center;
  padding: 35px 0px;
  font-weight: bold;
}
#discount a.button {
  background-color: #ffaf1d;
  padding: 15px 60px;
  border-radius: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 15px;
}

/* map */
#map {
  width: 1400px;
  height: auto;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}
#map h1 {
  font-size: 30px;
  text-align: center;
}
#map span {
  font-weight: bold;
}
#map p {
  text-align: center;
  padding-top: 10px;
  color: #868686;
}
#map img {
  width: 100%;
  padding-top: 50px;
}

/* footer */
#footer-wrap {
  border-top: 1px solid #e9e9e9;
  margin-top: 40px;
}
#footer {
  width: 1400px;
  height: auto;
  margin: 50px auto;
  display: flex;
}
.footer1 {
  width: 15%;
}
.footer1 img {
  width: 160px;
}
.footer2 {
  width: 45%;
}
.footer2-1 ul {
  display: flex;
  font-weight: bold;
  font-size: 14px;
  color: #5e5e5e;
}
.footer2-1 ul li {
  padding: 5px;
}
.footer2-1 ul li::after {
  content: '|';
  margin-left: 10px;
}
.footer2-1 ul li:last-child::after {
  content: '';
}
.footer2-1 .color {
  color: #ffaf1d;
}
.footer2-2 {
  font-size: 13px;
  color: #afafaf;
  padding-top: 20px;
}
.footer2-2 ul {
  display: flex;
}
.footer2-2 ul li {
  padding: 3px 5px;
}
.footer2-2 ul li::after {
  content: '|';
  margin-left: 10px;
}
.footer2-2 ul li:last-child::after {
  content: '';
}
.footer2-2 p {
  padding-top: 5px;
  padding-left: 5px;
}
.footer3 {
  width: 25%;
}
.footer3 img {
  width: 30px;
}
.footer3 ul {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.footer3 ul li {
  padding: 0px 5px;
}
.footer4 {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer4 a {
  background-color: #ffaf1d;
  padding: 15px 30px;
  color: #fff;
  border-radius: 30px;
  font-weight: 700;
  font-size: 14px;
  box-shadow: 3px 3px 5px #b3b3b3;
}

/* 모바일 사이즈 */
@media screen and (max-width: 430px) {
  #wrap {
    width: 100%;
  }
  #h-tab-menu {
    display: none;
  }
  #header {
    width: 100%;
    height: 70px;
  }
  #header::after {
    content: '';
    display: none;
  }
  #header .logo {
    width: 400px;
  }
  #header .logo a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  #header .logo img {
    width: 150px;
  }
  #header .menu {
    display: block;
    padding-top: 18px;
    padding-right: 15px;
  }
  #header .menu img {
    width: 30px;
    height: 30px;
  }
  #header .nav {
    display: none;
  }
  #header .spot {
    display: none;
  }
  #slider .slider.s1 {
    background-image: url(../assert/mobile/mobile1.png);
  }
  #slider .slider.s2 {
    background-image: url(../assert/mobile/mobile2.png);
  }
  #slider .slider.s3 {
    background-image: url(../assert/mobile/mobile3.png);
  }
  #slider .slider.s4 {
    background-image: url(../assert/mobile/mobile4.png);
  }
  #slider .slider.s5 {
    background-image: url(../assert/mobile/mobile5.png);
  }
  #slider {
    width: 100%;
    height: 410px;
    overflow: hidden;
  }
  .sliderwrap {
    width: 600%;
    height: 100%;
    display: flex;
  }
  .sliderwrap .slider {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #today .today-text {
    width: 100%;
  }
  #today .today-text p {
    font-size: 18px;
  }

  #attraction-wrap {
    width: 100%;
    background-image: url(../assert/news.svg);
  }
  #attraction {
    width: 100%;
    height: auto;
    padding-top: 60px;
    padding-bottom: 80px;
  }
  #attraction h1 {
    font-size: 25px;
    text-align: center;
  }
  #attraction span {
    font-weight: bold;
  }
  #attraction p {
    text-align: center;
    padding-top: 5px;
    color: #868686;
    font-size: 15px;
  }
  #a-tab-menu .a-tab-btn ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 25px;
  }
  #a-tab-menu .a-tab-btn ul li {
    padding: 15px 5px;
  }
  #a-tab-menu .a-tab-btn ul li a {
    border: 2px solid #ffaf1d;
    border-radius: 50px;
    padding: 5px 30px;
    font-size: 15px;
  }
  #a-tab-menu .a-tab-btn ul li a.a-active {
    background-color: #ffaf1d;
    font-weight: bold;
    color: #fff;
  }
  #a-tab-menu .a-tab-cont ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 30px;
    padding-top: 0;
  }
  #a-tab-menu .a-tab-cont ul li {
    padding-right: 25px;
    padding-top: 25px;
    position: relative;
  }
  #a-tab-menu .a-tab-cont img {
    width: 150px;
    height: 200px;
    object-fit: cover;
  }
  #a-tab-menu .a-tab-cont .a-text {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 150px;
    padding: 20px 0px;
    background-color: #fff;
  }
  #a-tab-menu .a-tab-cont .a-text h1 {
    font-size: 15px;
    font-weight: bold;
  }
  #a-tab-menu .a-tab-cont .a-text p {
    font-size: 10px;
    padding-top: 5px;
  }
  #event {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
  }
  #event h1 {
    font-size: 25px;
    text-align: center;
  }
  #event span {
    font-weight: bold;
  }
  #event p {
    text-align: center;
    font-size: 15px;
    padding-top: 5px;
    color: #868686;
  }
  #event ul {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    justify-content: center;
  }
  #event ul li {
    padding: 0px 5px;
    position: relative;
  }
  #event img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
  }
  #event .background {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #ffaf1d;
    position: absolute;
    left: 10px;
    top: 0;
    opacity: 0;
  }
  #event .event-text {
    display: none;
  }
  #event .event-text h1 {
    font-size: 19px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
  #event .event-text p {
    display: none;
  }
  #event .event li:hover {
    .background {
      opacity: 0.7;
      transition: all 0.3s;
    }
    .event-text {
      display: block;
      transition: all 0.3s;
    }
  }
  #discount {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 80px;
    position: relative;
  }
  #discount h1 {
    font-size: 25px;
    text-align: center;
  }
  #discount span {
    font-weight: bold;
  }
  #discount p {
    text-align: center;
    font-size: 15px;
    padding-top: 5px;
    color: #868686;
  }
  #discount ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
  }
  #discount ul li {
    border: 1px solid #e9e9e9;
    border-radius: 10px;
    background-color: #fff;
    padding-bottom: 5px;
    margin-bottom: 20px;
    margin-left: 15px;
  }
  #discount ul li:hover {
    box-shadow: 0px 0px 20px #ffaf1d;
  }
  #discount ul li a {
    padding: 0px 30px;
  }
  #discount img {
    width: 100px;
  }
  #discount .background {
    width: 150px;
    height: 50px;
    background-color: #fff;
  }
  #discount .background h1 {
    font-size: 13px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 0;
    font-weight: bold;
  }
  #discount a.button {
    background-color: #ffaf1d;
    padding: 5px 30px;
    border-radius: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
    font-size: 11px;
  }
  #map {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 300px;
    position: relative;
  }
  #map h1 {
    font-size: 25px;
    text-align: center;
  }
  #map span {
    font-weight: bold;
  }
  #map p {
    text-align: center;
    font-size: 15px;
    padding-top: 5px;
    color: #868686;
  }
  #map img {
    width: 90%;
    padding-top: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  #footer-wrap {
    border-top: 1px solid #e9e9e9;
    margin-top: 40px;
  }
  #footer {
    width: 100%;
    height: auto;
    margin: 50px auto;
    display: block;
    padding-left: 20px;
  }
  .footer1 {
    display: none;
  }
  .footer2 {
    width: 100%;
  }
  .footer2-1 ul {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 14px;
    color: #5e5e5e;
  }
  .footer2-1 ul li {
    padding: 5px;
  }
  .footer2-1 ul li::after {
    content: '|';
    margin-left: 10px;
  }
  .footer2-1 ul li:last-child::after {
    content: '';
  }
  .footer2-1 .color {
    color: #ffaf1d;
  }
  .footer2-2 {
    font-size: 12px;
    color: #afafaf;
    padding-top: 20px;
  }
  .footer2-2 ul {
    display: flex;
    flex-wrap: wrap;
  }
  .footer2-2 ul li {
    padding: 3px 5px;
  }
  .footer2-2 ul li::after {
    content: '|';
    margin-left: 10px;
  }
  .footer2-2 ul li:last-child::after {
    content: '';
  }
  .footer2-2 p {
    padding-top: 5px;
    padding-left: 5px;
  }
  .footer3 {
    display: none;
  }
  .footer4 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
  }
  .footer4 a {
    background-color: #ffaf1d;
    padding: 15px 30px;
    color: #fff;
    border-radius: 30px;
    font-weight: 700;
    font-size: 14px;
    box-shadow: 3px 3px 5px #b3b3b3;
  }
}

/* 태블릿 사이즈 */
@media screen and (max-width: 1200px) {
}
